**/*.priv
**/*.enc
**/*._conf

config/*

commands/*
!commands/examples
!/internal/commands_conf/examples._conf

plugins/*
!plugins/builtin
plugins/builtin/twitch_data.js

html/images/*

node_modules
package-lock.json

build