**/*.priv
**/*.enc
**/*._conf

config/*
!config/internal/commands_conf/examples._conf

commands/*
!commands/examples

plugins/*
!plugins/builtin
plugins/builtin/twitch_data.js

html/images/*

node_modules
package-lock.json

build