**/*.priv
**/*.enc
**/*._conf

config/*
!config/internal

commands/*
!commands/examples
!/internal/commands_conf/examples._conf

plugins/*
!plugins/builtin

html/images/*

node_modules
package-lock.json

build