@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@property --c {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --p {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --P {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --i {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --s {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --w {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --e {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}
@property --d {
    syntax: "<color>";
    inherits: true;
    initial-value: #FFFFFF;
}

:root {
    --c: #FFFFFF;
    --cr: 255, 255, 255;
    --cb: var(--c);
    --crb: var(--cr);
    --p: #2e7dcd;
    --pr: 119, 153, 255;
    --P: #888888;
    --Pr: 136, 136, 136;
    --i: #beeeff;
    --ir: 190, 138, 255;
    --s: #88FF88;
    --sr: 136, 255, 136;
    --w: #FFFF55;
    --wr: 255, 255, 85;
    --e: #FF5555;
    --er: 255, 85, 85;
    --d: #444444;
    --dr: 68, 68, 68;
    --db: var(--d);
    --drb: var(--dr);
}

*:not(.no-css) {
    [primary],.primary {
        --c: var(--p);
        --cr: var(--pr);
    }
    [secondary], .secondary, :disabled {
        --c: var(--P);
        --cr: var(--Pr);
    }
    [info], .info {
        --c: var(--i);
        --cr: var(--ir);
    }
    [success], .success {
        --c: var(--s);
        --cr: var(--sr);
    }
    [warning], .warning {
        --c: var(--w);
        --cr: var(--wr);
    }
    [danger], .danger {
        --c: var(--e);
        --cr: var(--er);
    }
    [dark], .dark {
        --c: var(--db);
        --cr: var(--drb);
        --d: var(--cb);
        --dr: var(--crb);
    }
    [dark]>[dark],
    [dark]>.dark,
    .dark>[dark],
    .dark>.dark {
        --c: var(--cb);
        --cr: var(--crb);
        --d: var(--db);
        --dr: var(--drb);
    }
    [dark]>*:not([dark],.dark),
    .dark>*:not([dark],.dark) {
        --cb: var(--c);
        --crb: var(--cr);
        --db: var(--d);
        --drb: var(--dr);
    }

    * {
        box-sizing: border-box;
        color: var(--c);
    }

    body {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin: 0;
        padding: 0;
    }
    body::before {
        background: 
            linear-gradient(120deg, #09090f99, transparent),
            linear-gradient(40deg, #010101, #0d0b0b);
        position: fixed;
        content: "";
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -10000000;
    }

    d1 {
        display: block;
        font-size: 4rem;
        font-weight: 900;
        letter-spacing: 0.1em;
        line-height: 1.1;
        margin: 1em 0 0.5em 0;
    }
    d2 {
        display: block;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 0.08em;
        line-height: 1.15;
        margin: 0.8em 0 0.4em 0;
    }
    d3 {
        display: block;
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: 0.07em;
        line-height: 1.18;
        margin: 0.7em 0 0.35em 0;
    }
    d4 {
        display: block;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 0.06em;
        line-height: 1.2;
        margin: 0.6em 0 0.3em 0;
    }
    d5 {
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: 0.05em;
        line-height: 1.22;
        margin: 0.5em 0 0.25em 0;
    }
    d6 {
        display: block;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 0.04em;
        line-height: 1.25;
        margin: 0.4em 0 0.2em 0;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 900;
        margin: 1em 0 0.5em 0;
        letter-spacing: 0.05em;
        line-height: 1.1;
    }
    h2 {
        font-size: 2rem;
        font-weight: 900;
        margin: 0.8em 0 0.4em 0;
        letter-spacing: 0.04em;
        line-height: 1.15;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0.7em 0 0.35em 0;
        letter-spacing: 0.03em;
        line-height: 1.18;
    }
    h4 {
        font-size: 1.2rem;
        font-weight: 900;
        margin: 0.6em 0 0.3em 0;
        letter-spacing: 0.02em;
        line-height: 1.2;
    }
    h5 {
        font-size: 1rem;
        font-weight: 900;
        margin: 0.5em 0 0.25em 0;
        letter-spacing: 0.01em;
        line-height: 1.22;
    }
    h6 {
        font-size: 0.85rem;
        font-weight: 900;
        margin: 0.4em 0 0.2em 0;
        letter-spacing: 0.005em;
        line-height: 1.25;
    }

    mark {
        background: none;
        --c: var(--w);
        color: var(--w);
        text-shadow: var(--w) 1px 0px, rgba(var(--wr), 10%) 0px 0px 1em;
    }
    del {
        --c: var(--e);
        color: var(--e);
    }
    s {
        --c: var(--P);
        color: var(--P);
    }
    ins {
        --c: var(--P);
        color: var(--P);
    }

    hr {
        height: 3px;
        border: none;
        background-color: var(--c);
        border-radius: 2px;
    }

    blockquote {
        position: relative;
        padding-left: 1.5em;
        margin-left: 1em;
    }
    blockquote::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background: var(--c);
        border-radius: 2px;
    }

    main {
        padding: 2em;
    }

    a {
        color: unset;
    }

    ul {
        padding-left: 1em;
    }
    ul>li {
        list-style: none;
        position: relative;
        padding-left: 1.5em;
    }
    ul>li::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: calc(1.4em + 1px);
        background: var(--c);
        border-radius: 2px;
    }


    table {
        display: table;
        width: 100%;
    }
    thead {
        position: relative;
    }
    tbody {
        position: relative;
    }
    tr {
        display: table-row;
        position: relative;
    }
    th, td {
        padding-bottom: 6px;
    }

    tr:not(:last-child)::after,
    thead:not(:last-child)>tr::after,
    tbody:not(:last-child)>tr::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--c);
        border-radius: 2px;
    }
    th:not(:first-child),td:not(:first-child) {
        position: relative;
        padding: 0.2em;
        padding-inline: 1em;
        padding-bottom: 6px;
    }

    th:not(:first-child)::after,td:not(:first-child)::after {
        content: "";
        position: absolute;
        left: -1px;
        bottom: -1px;
        top: -1px;
        width: 3px;
        background-color: rgba(var(--cr), 20%);
        border-radius: 2px;
    }




    fieldset {
        border: 3px var(--c) solid;
        padding: 1em;
        border-radius: 0.5em;
    }

    label {
        position: absolute;
        translate: -1em .5em;
        font-size: small;
    }
    input, select, button, textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: medium;
        color: var(--c);
        background: none;
        border: none;
        border-bottom: var(--c) 3px solid;
        margin-block: 1.5em 0.5em;
        transition: border-color 0.1s ease-in-out;
        padding-inline: 1em;
    }
    input[type="checkbox"],
    input[type="radio"] {
        border: var(--c) 2px solid;
        width: 1em;
        height: 1em;
        margin-top: 0.25em;
        vertical-align: top;
        border-radius: 1em;
        background-image: linear-gradient(60deg, var(--e), var(--e) 50%, var(--s) calc(50% + 1px), var(--s));
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 260% 100%;
        transition: background-position 0.2s ease-in-out;
        box-shadow: rgba(var(--er), 10%) 0px 0px 20px;
    }
    input[type="radio"] {
        padding-inline: 0em;
        background-size: 100% 225%;
        background-image: linear-gradient(150deg, var(--e), var(--e) 50%, var(--s) calc(50% + 1px), var(--s));
    }
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        background-position: 100% 100%;
        box-shadow: rgba(var(--sr), 10%) 0px 0px 20px;
    }
    input[type="range"] {
        border-bottom: none;
        width: 100%;
        background-image: linear-gradient(0deg, 
            transparent calc(50% - 2px),
            var(--c) calc(50% - 1px),
            var(--c) calc(50% + 1px),
            transparent calc(50% + 2px)
        ),
        linear-gradient(90deg, 
            transparent calc(1.5em - 2px),
            var(--c) calc(1.5em - 1px),
            var(--c) calc(1.5em + 1px),
            transparent calc(1.5em + 2px),
            transparent calc(100% - 1.5em - 2px),
            var(--c) calc(100% - 1.5em - 1px),
            var(--c) calc(100% - 1.5em + 1px),
            transparent calc(100% - 1.5em + 2px)
        );
    }
    input[type="range"]:focus {
        --c: var(--p);
    }


    input[type="file"], select, button, textarea {
        position: relative;
        border-radius: 1em;
        border: 1px var(--c) solid;
        border-bottom-width: 3px;
        margin-top: 2em;
        padding-bottom: 3px;
        box-shadow: rgba(var(--cr), 10%) 0px 0px 20px;
    }
    input[type="file"] {
        padding-left: 0;
        padding-bottom: 0px;
    }
    input[type="file"]::file-selector-button {
        background: rgba(var(--cr), 5%);
        border: none;
        color: var(--c);
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: medium;
        border-right: 1px solid var(--c);
        padding-inline: 1em;
        padding-bottom: 3px;
    }

    input:focus {
        outline: none;
        border-color: var(--p);
    }

    select {
        padding-right: calc(18px + 1em);
        background-image: 
            linear-gradient(45deg, 
                transparent 2px,
                var(--c) 3px,
                var(--c) 4px,
                transparent 5px
            ),
            linear-gradient(-45deg,  
                transparent 2px,
                var(--c) 3px,
                var(--c) 4px,
                transparent 5px
            );
        background-repeat: no-repeat;
        background-position: calc(100% - 4px - 1em) -.6em;
        background-size: 10px;
    }

    textarea {
        padding-right: calc(18px + 1em);
        background-image:
            linear-gradient(-45deg,  
                transparent 12px,
                var(--c) 13px,
                var(--c) 15px,
                transparent 16px
            );
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-size: 24px;
    }

    @keyframes details-show {
    from {
        opacity:0;
    }
    }

    details[open] > *:not(summary) {
    animation: details-show 1500ms ease-in-out;
    }
}